/**
 * Created by Roald Martin Hamnvik on 01.06.15.
 */

h1 {
    color: dimgrey;
    font-family: arial;
}

.question {

}

.questionText {
    color: chocolate;
    font-family: arial;
    margin-bottom: 5px;
}

.legend {
    color: green;
    font-family: sans-serif;
    font-weight: bolder;
}

.fieldset {
    margin: 10px;
    background-color: aliceblue;
}

.radioUl {
    list-style-type: none;
}

.radioLi {
    padding-bottom: 2px;
}


.radioText {
    color: dimgrey;
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 5px;
}

.checkboxUl {
    list-style-type: none;
}

.checkboxLi {
    padding-bottom: 2px;
}


.checkboxText {
    color: dimgrey;
    font-weight: normal;
    margin-bottom: 0px;
    margin-left: 5px;
}